@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 24, 32, 0.7) !important;
    &-modal {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 200px;
        padding: 50px;
        text-align: center;
        border-radius: 4px;
        background-color: #ffffff;
        border: #174348 solid 1px; 
    }
}

.loading-circle {
    margin-bottom: 10px;
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .loading-circle:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(158, 222, 222);
    border-color: rgb(158, 222, 222) transparent rgb(158, 222, 222) transparent;
    animation: loading-circle 1.2s linear infinite;
  }

  .success {
    animation-duration:  6s;
    animation-name: success;
    position: absolute;
    padding: 25px;
    padding-top: 30px;
}
.response {
    animation-name: response;
    animation-duration:  9s;
    position: absolute;
}

@keyframes response {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      }
  }
  @keyframes success {
    0% {
        opacity: 0;
      }
    50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
    }
  }
  @keyframes loading-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .success-icon {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }